<template>
  <!--  <footer class="main-footer navbar-fixed-bottom">-->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Nevşehir ÖDM
    </div>
    <!-- Default to the left -->
    <strong>Telif hakkı © 2018
      <a href="http://nevsehir.meb.gov.tr/">Nevşehir Milli Eğitim Müdürlüğü </a>
    </strong><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.tr">CC BY-NC-SA 4.0</a> ile lisanslanmıştır.
  </footer>
</template>

<script>
export default {
  name: 'NFooter'
}
</script>

<style>

</style>
